	<!-- <p>Copyright &copy; 2018 | <img style="width: 28px; height: 30px; margin-right: 8px; margin-top:-10px;" src="./style/fn_logo_solo.png">FN / Software Factory | HTML | PHP | CSS</p> -->
<footer class="footer" style="margin-top: 10px;">
	<form class="text-center">
		        <span class="text-muted">FN Software Factory | Copyright &copy; 2018 | <img style="width: 52px; height: 30px; margin-right: 8px; margin-top:-10px;" src="./style/logo_fn.png"></span>
	</form>
</footer>