<script>
function showMain_menu_In()
{
	document.getElementById("content").innerHTML = "";
    loadPage("./views/main_menu_In_Add.html", "#content");
    document.getElementById("navbarsExampleDefault").className = "navbar-collapse collapse";
    document.getElementById("titleMainMenu").innerHTML = "CashAPP® | Ingresos";
}

function showMain_menu_Out()
{
	document.getElementById("content").innerHTML = "";
    loadPage("./views/main_menu_Out_Add.html", "#content");
    document.getElementById("navbarsExampleDefault").className = "navbar-collapse collapse";
    document.getElementById("titleMainMenu").innerHTML = "CashAPP® | Egresos";
}
	
</script>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	      <a id="titleMainMenu" class="navbar-brand" style="color: #fff; cursor:pointer;" onclick="showSectionContent('views/main_menu.html');">CashAPP®</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	        <ul class="navbar-nav mr-auto">
	          <li class="nav-item active">
	            <a class="nav-link" onclick="showMain_menu_In();">Ingresos <span class="sr-only">(current)</span></a>
	          </li>
	          <li class="nav-item active">
	            <a class="nav-link" onclick="showMain_menu_Out();">Egresos <span class="sr-only"></span></a>
	          </li>
	        </ul>
	      </div>
</nav>

<div class="wrap" style="position: absolute;">
      <div class="loader"></div>
      <div class="loaderbefore"></div>
      <div class="circular"></div>
      <div class="circular another"></div>
      <div class="text">Loading</div>
    </div>
</div>



    
