	<!-- <p>Copyright &copy; 2018 | <img style="width: 28px; height: 30px; margin-right: 8px; margin-top:-10px;" src="./style/fn_logo_solo.png">FN / Software Factory | HTML | PHP | CSS</p> -->
<footer class="footer" style="margin-top: 10px; background-color: #C0C0C0; padding:10px; padding-bottom: 0.1px; width: 100%; position: absolute; bottom: 0;">
	<form class="text-center">
		        <span class="text" style="font-size: 13px;">FN Software Factory | Copyright &copy; 2018 &nbsp;<img style="width: 52px; height: 30px; margin-right: 8px; margin-top:0px; " src="./style/logo_fn.png"></span>
	</form>
</footer>